button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color var(--fast), background var(--fast), opacity var(--fast),
    border var(--fast);
}

button > svg:not(:first-child) {
  margin-left: 10px;
}
button > svg:not(:last-child) {
  margin-right: 10px;
}
