#heatmap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.heatmap_left_col {
  box-sizing: border-box;
  display: inline-block;
  width: 15%;
  padding-right: 10px;
  text-align: center;
}
.heatmap_right_col {
  box-sizing: border-box;
  display: inline-block;
  width: 85%;
  overflow-x: auto;
  overflow-y: auto;
  text-align: center;
}
.heatmap_row {
  display: flex;
  width: 100%;
  align-items: center;
}
.heatmap_cell {
  cursor: pointer;
}
#heatmap svg:hover .heatmap_cell {
  opacity: 0.35;
}
.heatmap_cell:hover {
  opacity: 1 !important;
}
