.gene_network_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
}
.gene_network_info > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.gene_network_info > span > svg {
  margin-right: 10px;
}
