.gene_results {
  width: 100%;
  margin-top: 10px;
  max-height: calc((8 * 30px) + ((8 - 1) * 1px));
  overflow-y: auto;
}
.gene_result {
  width: 100%;
}
.gene_result > span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}
.gene_result > span:nth-child(1),
.gene_result > span:nth-child(2),
.gene_result > span:nth-child(3) {
  width: 80px;
}
