.home_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: 250px;
  background: var(--black);
  color: var(--white);
}
.home_header > svg {
  margin-bottom: 5px;
}