.home_header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: 250px;
  background: var(--black);
  color: var(--white);
}
.home_header > svg {
  margin-bottom: 5px;
}
.home_header > svg,
.home_header > span {
  z-index: 1;
}
#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
