.selected_experiment_info > * {
  margin-bottom: 20px;
}
.sample_table_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
}
.sample_table_info > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.sample_table_info > span > svg {
  margin-right: 10px;
}
