.header_default {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}
.header_default a {
  text-decoration: none;
}
.header_column {
  display: flex;
  align-items: center;
  height: 50px;
}
.header_column:nth-child(1) {
  justify-content: flex-start;
  padding: 0 10px;
}
.header_column:nth-child(2) {
  justify-content: center;
  flex-grow: 1;
}
.header_column:nth-child(3) {
  justify-content: flex-end;
  padding: 0 10px;
}
.logo_small {
  color: var(--green);
  margin-right: 10px;
}
.model_switch_button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: var(--off-white);
  border-radius: 100%;
}
.model_switch_button:hover,
.model_switch_button:focus {
  background: var(--green);
  color: var(--white);
}

@media screen and (max-width: 600px) {
  .header_default {
    flex-direction: column;
  }
  .header_column:nth-child(1) {
    justify-content: center;
  }
  .header_column:nth-child(2) {
    flex-direction: column;
    width: 140px;
    height: unset;
  }
  .header_column:nth-child(3) {
    justify-content: center;
  }
}
