.gene_search_result_single {
  display: flex;
  align-items: center;
  height: 30px;
}
.gene_search_result_single_button {
  width: 30px;
}
.gene_search_result_single > .td:nth-child(2),
.gene_search_result_single > .td:nth-child(3),
.gene_search_result_single > .td:nth-child(4) {
  width: calc((100% - 30px) * 0.15);
}
.gene_search_result_single > .td:nth-child(5) {
  width: calc((100% - 30px) * 0.55);
}
