.section_header {
  box-sizing: border-box;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.section_header:before,
.section_header:after {
  content: '';
  flex-grow: 1;
  background: var(--light-gray);
  height: 1px;
}
.section_header:before {
  margin-right: 20px;
}
.section_header:after {
  margin-left: 20px;
}
