.section_header {
  color: var(--gray);
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 20px;
}
.section_header:before,
.section_header:after {
  content: '';
  flex-grow: 1;
  background: var(--light-gray);
  height: 1px;
}
.section_header:before {
  margin-right: 10px;
}
.section_header:after {
  margin-left: 10px;
}
