.model_detail_row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px var(--light-gray);
}
.model_detail_row > span {
  display: inline-block;
  word-break: break-word;
}
.model_detail_row > span:nth-child(1) {
  flex-basis: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 10px;
}
.model_detail_row > span:nth-child(2) {
  flex-grow: 1;
}
