.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
}
.thead,
.tbody {
  overflow-x: auto;
  min-width: 400px;
}
.tr {
  display: flex;
  align-items: center;
  height: 30px;
}
.tbody {
  max-height: 600px;
  overflow-y: auto;
}
.th {
  cursor: pointer;
}
.th,
.td {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.th > svg {
  flex-shrink: 0;
  margin-right: 10px;
}
