.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  max-height: calc((8 * 30px) + ((8 - 1) * 1px));
}
.thead,
.tbody {
  min-width: 600px;
}
.tr {
  display: flex;
  align-items: center;
  height: 30px;
}
.th {
  height: 28px;
  transition: color var(--fast);
  user-select: none;
}
.table[data-sortable='true'] .th:hover {
  color: var(--green);
}
.th,
.td {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.th[data-padded='true'],
.td[data-padded='true'] {
  padding: 0 5px;
}
.th > svg {
  flex-shrink: 0;
  margin-left: 3px;
}
.table[data-freeze-row='true'] .thead {
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 2;
}
.table[data-freeze-col='true'] .th:first-child,
.table[data-freeze-col='true'] .td:first-child {
  position: sticky;
  left: 0;
  background: var(--white);
  z-index: 1;
}
