.tooltip {
  position: absolute;
  max-width: 180px;
  padding: 5px 10px;
  background: var(--black);
  color: var(--white);
  z-index: 99;
  pointer-events: none;
}
.tooltip-enter {
  opacity: 0;
}
.tooltip-enter-active {
  opacity: 1;
  transition: opacity var(--fast);
}
.tooltip-exit {
  opacity: 1;
}
.tooltip-exit-active {
  opacity: 0;
  transition: opacity var(--fast);
}
