.tooltip {
  box-sizing: border-box;
  position: absolute;
  padding: 5px 10px;
  background: var(--black);
  color: var(--white);
  z-index: 999;
  pointer-events: none;
}
.tooltip-enter {
  opacity: 0;
}
.tooltip-enter-active {
  opacity: 1;
}
.tooltip-exit {
  opacity: 1;
}
.tooltip-exit-active {
  opacity: 0;
}
.tooltip_row {
  max-width: 200px;
}
.tooltip_row > span {
  box-sizing: border-box;
  display: inline-block;
}
.tooltip_row > span:nth-child(1) {
  width: 40%;
}
.tooltip_row > span:nth-child(2) {
  padding-left: 10px;
  width: 60%;
}
