@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

* {
  --green: #26a36c;
  --blue: #2196f3;
  --red: #e91e63;
  --black: #000000;
  --dark-gray: #606060;
  --gray: #a0a0a0;
  --light-gray: #e0e0e0;
  --off-white: #f0f0f0;
  --white: #ffffff;

  --shadow: 0 0 4px 0 #00000040;

  --fast: 0.25s ease;

  font-family: 'Poppins';
}
html {
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 11pt;
}
#root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
a {
  position: relative;
  color: var(--green);
}
*:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px var(--green);
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.text_small {
  font-size: 9pt;
}
.text_medium {
  font-size: 13pt;
}
.text_large {
  font-size: 18pt;
}
.text_huge {
  font-size: 24pt;
}
.flip_horizontal {
  transform: scaleX(-1);
}
.flip_vertical {
  transform: scaleY(-1);
}
.rotate_cw {
  transform: rotate(90deg);
}
.rotate_ccw {
  transform: rotate(-90deg);
}
*[data-shade='true'] {
  background: var(--off-white);
}
