.nav_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30px;
  margin: 5px;
  padding: 0 5px;
  color: var(--black);
}
.nav_button > svg {
  margin-right: 10px;
}
.nav_button:after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 2px;
  opacity: 0;
  background: var(--green);
  transition: left var(--fast), right var(--fast), opacity var(--fast);
}
.nav_button:hover:after,
.nav_button:focus:after,
.nav_button[data-active='true']:after {
  left: 0;
  right: 0;
  opacity: 1;
  background: var(--green);
}
