.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  color: var(--black);
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-size: 11pt;
  transition: color var(--fast), background var(--fast), opacity var(--fast),
  border var(--fast), border-color var(--fast);
}
.link:hover,
.link:focus {
  color: var(--green);
}
.link > svg:not(:first-child) {
  margin-left: 5px;
}
.link > svg:not(:last-child) {
  margin-right: 5px;
}
.link[data-text='true'] {
  margin: 0 10px;
  padding: 0 10px;
  color: var(--green);
  font-weight: 500;
  border: solid 2px transparent;
  outline: none;
}
.link[data-text='true']:hover,
.link[data-text='true']:focus {
  border-color: var(--green);
  outline: none;
}
