#volcano {
  width: 100%;
  height: 600px;
}
.volcano_dot {
  cursor: pointer;
}
#volcano_dots:hover .volcano_dot {
  fill: var(--light-gray);
}
#volcano_dots .volcano_dot:hover {
  opacity: 1 !important;
  fill: var(--green);
  stroke: var(--black);
  stroke-width: 2;
}
.tick {
  font-size: 9pt;
}
#x_axis_label,
#y_axis_label {
  font-size: 12pt;
}
.volcano_search {
  width: 200px;
  margin: 0 auto;
}
